h1 {
    color: orangered;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 500px;
    width: 600px;
    background-color: black;
    padding: 50px;
    border: 10px solid blue; 
    margin: 50px;
}

#spanID {
    font-size: 18px;
    margin: 50px;
}